th {
    text-align: center;
    justify-content: center;
}

td {
    text-align: center;
    justify-content: center;
}

.list {
    text-align: center;
}

table {
    margin-left: 42%;
    padding-top: 0;
}

ul,li{
    margin-top: 0;
    margin-left: 18px
}

li{
    font-family:fantasy}

h1 {
    margin-top: 0px;
}

p {
    margin-top: 0px;
    color: black;
    font-style:italic;
}

img {
    margin-top: 0px;
}

a{
    color: black;
    font-family: cursive;
}
/* style time ux/ui */

body {
    background-image: url(images/BG.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
}

#header {
    font-family: 'Gill Sans', sans-serif;
}

#headerBox {
    background-color: lightyellow;
    width: 190px;
    height: 35px;
    border: 12px solid red;
    margin-top: 45px;
    margin-left: 43%;
    border-radius: 75px;
    padding: 3px;
}

#hyperLink {
    background-color: lightyellow;
    width: 355px;
    height: 25px;
    border: 12px solid red;
    margin-top: 45px;
    margin-left: 40%;
    border-radius: 75px;
    padding: 3px;
}

#imageFrame {
    background-color: lightyellow;
    width: 700px;
    height: 500px;
    border: 12px solid red;
    margin-top: 45px;
    margin-left: 30%;
    border-radius: 5px;
    padding: 3px;
}

#orderList {
    background-color: lightyellow;
    width: 85px;
    height: 75px;
    border: 12px solid red;
    margin-top: 45px;
    margin-left: 46%;
    border-radius: 25px;
    padding: 3px;
}
#desk{
    background-color: lightyellow;
    border: 12px solid red;
    margin-top: 45px;
    margin-left: 39%;
    border-radius: 25px;
    padding: 3px;
}

#headerBox:hover{
    padding: 10px;
    color: white;
    background-color: chocolate;
    margin-left: 42.5%;
    transition:all 1000ms ease-in;
}

#hyperLink:hover{
    padding: 10px;
    color: white;
    background-color: chocolate;
    margin-left: 39.5%;
    transition:all 1000ms ease-in;
}

#imageFrame:hover{
    padding: 10px;
    color: white;
    background-color: chocolate;
    margin-left: 29.5%;
    transition:all 1000ms ease-in;

}

#orderList:hover{
    padding: 10px;
    color: white;
    background-color: chocolate;
    margin-left: 45.5%;
    transition:all 1000ms ease-in;
}

#desk:hover{
    padding: 10px;
    color: white;
    background-color: chocolate;
    margin-left: 38.5%;
    transition:all 1000ms ease-in;  
}